/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-bg-color: #ff0070;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --accent-text-color: #000028;
  --text-color: #f1b2ce;
  --xl-text-color: #db00ff;
  --button-hover: rgba(255, 0, 112, 0.4);
  --main-bg: url(../images/cover-image-dark.png);
  --rec-display: flex;
}
