/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: rgba(255, 141, 203, 1);
  --accent-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --xl-text-color: rgba(255, 194, 230, 1);
  --button-hover: rgba(50, 49, 45, 0.4);
  --main-bg: url(../images/cover-image-light.png);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(255, 141, 203, 1);
    --accent-text-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --xl-text-color: rgba(255, 194, 230, 1);
    --button-hover: rgba(50, 49, 45, 0.4);
    --main-bg: url(../images/cover-image-light.png);
    --rec-display: none;
  }
}
