.page {
  background-image: var(--main-bg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
}
a {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}
a:hover {
  border-bottom: solid 1px var(--text-color);
}
a:focus {
  outline: none;
}
a:focus-visible {
  outline: 1px solid var(--text-color);
}
header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  justify-items: end;
  align-items: end;
  gap: 55px;
  padding: var(--page-padding);
}

.decoration {
  font-size: 18px;
  display: var(--rec-display);
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
}
.decoration::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}
.header__theme-menu {
  margin-block-end: 12px;
}
.header__theme-menu-list {
  display: grid;
  gap: 11px;
  justify-items: end;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  font-size: 18px;
  padding: 2px 13px 4px;
  line-height: 1;
  cursor: pointer;
}
.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}
.header__theme-menu-button_active {
  pointer-events: none;
}
.header__theme-menu-button:disabled {
  border: solid 1px var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-color: var(--accent-color);
}
.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-width: 1px 1px 0 0;
}
.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-width: 0 0 1px 1px;
}
.header-title {
  font-weight: bold;
  font-size: var(--big-font-size);
  line-height: 0.83;
  color: var(--xl-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}
.title-decor {
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}
.header-description {
  align-self: start;
}

.main {
  display: grid;
  gap: 50px;
  margin-block-start: var(--main-content-margin);
  padding: var(--page-padding);
}
.card {
  display: grid;
  gap: 10px;
}
.card-title {
  color: var(--accent-color);
}
.normal {
  font-weight: normal;
}
.text {
  color: var(--text-color);
}
.text-title {
  margin-block-start: 20px;
}
.image-section {
  display: grid;
  gap: 10px;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  margin-block-start: var(--main-content-margin);
  align-items: center;
  justify-items: center;
  padding: var(--page-padding);
}
.footer-title {
  font-weight: bold;
  font-size: var(--big-font-size);
  line-height: 0.83;
  color: var(--xl-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}
@media (width >= 768px) {
  .page .header {
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    align-items: center;
  }
  .header__theme-menu {
    grid-column: 2;
    justify-self: end;
    margin-block-end: 0;
    margin-block-start: 17px;
  }
  .header-title {
    grid-column: span 2;
    margin-inline-start: -20px;
  }
  .header-description {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    margin-block-start: -20px;
  }
  .decoration {
    top: 20px;
    right: 30px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .main-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }
  .card {
    grid-column: span 2;
  }
  .same-section .card {
    grid-column: 2;
  }
  .main {
    gap: 80px;
  }
  .text-title {
    margin-block-start: 0;
  }
  .card-title {
    grid-row: span 2;
  }
  .image-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img-title {
    grid-column: span 3;
  }
  .sunset {
    grid-column: span 2;
  }
  .ice-cream {
    grid-row: span 2;
  }
  .tape {
    grid-row: span 2;
  }
  .street {
    grid-column: span 2;
  }
}
@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: span 3;
    margin-block-start: 20px;
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 9px;
    justify-items: center;
  }
  .main-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .same-section .card {
    grid-column: 2 / span 2;
  }
  .another-title {
    grid-row: 1;
    grid-column: span 3;
    margin-inline-end: 90vh;
  }
  .column-section .card {
    grid-column: span 1;
    gap: 0;
  }
  .text-title {
    grid-column: span 2;
  }
  .without-gap {
    margin-block-end: 10px;
  }
}
