/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --text-color: #f1b2ce;
  --xl-text-color: #db00ff;
  --button-hover: rgba(255, 0, 112, 0.4);
  --main-content-margin: 40px;
  --big-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --page-padding: 0 10px;
  --main-bg: url(../images/cover-image-dark.png);
  --rec-display: flex;
}
@media (width >= 768px) {
  :root {
    --big-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-padding: 0 20px;
    --main-content-margin: 60px;
  }
}
@media (width >= 1024px) {
}
